@charset "utf-8";
html {
font-size: 87.5%;
}
body {
  background: white;
  text-align: center;
  color: #333333;
  font-family: "TOKYO2020 JPN R", "メイリオ", "Meiryo UI", "游ゴシック", "Yu Gothic UI", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#wrap {
  margin: auto;
  width: 1200px;
}

/*---パンくず---*/
#pkz {
  width: 1200px;
  margin: 5px auto 5px;
  padding: 0;
  font-size: 12px;
  color: #5c5955;
  list-style: none;
}
#pkz li {
  float: left;
}
#pkz li:not(:last-child):after {
  margin: 0 5px;
  content: url(img/ico_pkz_arrow.png);
}
#pkz a {
  color: #5c5955;
  text-decoration: none;
}
#pkz a:hover {
  opacity: 0.6;
}
/*clearfix*/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}


/*---mainvisual---*/
.relative {
    position: relative;
	width: 1200px;
}
.absolutetxt {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.absoluteimg {
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.slide_copy {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    display: block;
    text-shadow: 2px 2px #333;
	font-size: 1.3rem;
}
.rug_slide_copy {
    position: absolute;
    bottom: 90px;
    right: 20px;
    color: #fff;
    display: block;
    text-shadow: 2px 2px #333;
	font-size: 1.3rem;
}
.sub_slide_copy {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    display: block;
    text-shadow: 1px 1px #333;
	font-size: 1.1rem;
}
/*終了コメント*/
.absolute_end {
    position: absolute;
    top: 66px;
    left: 110px;
    font-family: "メイリオ", "Meiryo UI", "游ゴシック", "Yu Gothic UI", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffff99;
}
.pink_l{
	color:#F33308;
}
.absolute_end span {
	color: #F33308;
}

/*終了コメントここまで*/

.absoluteimg1 {
    position: absolute;
    left: 25px;
    top: 25px;
}
.absoluteimg2 {
    position: absolute;
    left: 50px;
    bottom: 35px;
}
.absolutelogo {
    position: absolute;
	right: 20px;
    top: 25px;
}
/*---mainvisualエンド---*/

h3 {
	text-align: center;
}

.photo-s-yoko{
    position: relative;
	width: 400px;
}

.photo-s-tate{
    position: relative;
	width: 266px;
	height: 400px;
}
.photo-txt {
    position: absolute;
    right: 5px;
    bottom: 5px;
}



.letter p {
  text-align: left;
  margin: 26px 60px;
  font-size: 20px;
}

.content-area {
  background-image: url("");
  background-repeat: no-repeat;
  margin-top: -10px;
}

.osusume{
	width: 100%;
	height: 42px;
	font-size: 1.8rem;
	font-color: #002063;
	line-height: 32px;
	padding-top: 10px;
	align-content: center;
    background-color: #ffff33;
}
.start {
	text-align: right;
	font-size: 1.9rem;
	font-weight: bold;
	color: #002063;
	letter-spacing: 1px;

}
.startnichi {
	width: 700px;
	text-align: center;
	margin: 5px auto 5px auto;
	letter-spacing: 2px;
	font-size: 1.8rem;
	font-weight: bold;
	color: #002063;
}
.startline{
	background: linear-gradient(transparent 60%, #fee488 60%);
}

#kikan{
	width: 980px;
	letter-spacing: 1px;
	text-align: center;
	color: #002063;
	line-height: 40px;
	padding-top: 5px;
	padding-bottom: 50px;
	margin: auto;
}

#kikan .nichi{
	padding-top: 5px auto 5px auto;
	font-weight: bold;
}

#kikan_vol4{
	width: 1000px;
	letter-spacing: 1px;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	padding-top: 20px;
	padding-bottom: 30px;
	margin: auto;
}
.tg-0lax {
	font-size: 1.5rem;
	padding-top: 10px;
	padding-bottom: 10px;
	}
.tg-0lax span{
	font-weight: bold;
	color: #002063;
	}

.tg-0lax .small{
	color: #FFFFFF;
	font-size: 1.1rem;
}

.tg-0lax .pricenote{
	font-size: 1.1rem;
}
.sat{
	color: #0081c8;
}
.sun{
	color: #cd3135;
}

.tourplan-4th{
width: 960px;
	margin: 5px auto 5px auto;
	font-weight: bold;
	line-height: 2.2rem;
}
/*↓ここからcontent1*/
#content1 {
	align-content: center;
}
#content1 table {
  color: #020e28;
  margin: 0px auto 10px auto;
}


.photo-s {
  vertical-align: top;
}

.priceinfo {
	text-align: left;
	margin: 0px 0 10px 0px;
	font-size: 1.8rem;
	font-weight: bold;
	letter-spacing: 1px;
	color: #002063;
	width: 480px;
	line-height: 50px;
}
.priceinfo p {
	font-size: 1.4rem;
	letter-spacing: 1px;
	margin: 0;
}
.priceinfo span {
	font-size: 1.4rem;
	letter-spacing: 1px;
}
.price {
	text-align: center;
	margin-bottom: 20px;
	font-size: 26px;
	letter-spacing: 1px;
	color: #002063;
	line-height: 120%;
  border-bottom-style: solid;
}

.price1 {
	text-align: center;
	margin-left: 30px;
	margin-bottom: 20px;
	font-size: 2rem;
	letter-spacing: 1px;
	color: #002063;
	width: 460px;
	border-bottom-style: solid;
}

.price2 {
	text-align: center;
	margin-left: 130px;
	margin-bottom: 20px;
	font-size: 2rem;
	letter-spacing: 1px;
	color: #002063;
	width: 260px;
	border-bottom-style: solid;
}
.price3 {
	text-align: center;
	margin-top: 0px;
	margin-left: 130px;
	margin-bottom: 20px;
	font-size: 2rem;
	letter-spacing: 1px;
	color: #002063;
	width: 260px;
	border-bottom-style: solid;
}
.price1 span {
  font-size: 3rem;
  font-family: Arial;
}
.price2 span {
  font-size: 4rem;
  font-weight: bold;
  font-family: Arial;
}
.price3 span {
  font-size: 4rem;
  font-weight: bold;
  font-family: Arial;
}
.pricenote{
	text-align: left;
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-left: 30px;
	font-size: 1.1rem;
	letter-spacing: 1px;
	color: #002063;
	margin-bottom: 25px;
}
.note{
	text-align: left;
	padding: 0px 0px 15px 0px;
	margin-top: 0px;
	margin-left: 100px;
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 25px;
}

.information{
    margin: 0; 
    padding: 0;
}

.catchcopy {
	width: 100%;
	margin-top: 10px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 1.8rem;
	letter-spacing: 2px;
	font-weight: bold;
	line-height:24px;
}

.box13 {
	width: 430px;
    padding: 0.5em 0.5em 0.5em 0.7em;
    margin: 0.8em auto 0.4em auto;
	font-size: 1.6rem;

	letter-spacing: 1px;

    color: #FFF;
    background: #002063;
    border-bottom: solid 4px #7acded;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box13 p {
    margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}
.box13_short {
	width: 400px;
    padding: 0.5em 0em 0.5em 1em;
    margin: 0.8em auto 0.4em auto;
	font-size: 1.6rem;
	letter-spacing: 1px;
    color: #FFF;
    background: #002063;
    border-bottom: solid 4px #7acded;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box13_short p {
    margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}
.box14_short {
	width: 400px;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.8em auto 0.4em auto;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
    background: #002063;
    border-bottom: solid 4px #7acded;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box14_short p {
    margin: 0; 
    padding: 0;
	text-align: center;
	line-height: 2.5rem;
}
.box14_long {
	width: 480px;
    padding: 0.5em 1em 0.5em 1em;
    margin: 4em auto 1em auto;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
    background: #002063;
    border-bottom: solid 4px #7acded;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box14_long p {
    margin: 0; 
    padding: 0;
	text-align: center;
	line-height: 2.5rem;
}
.message {
	background-image: url("trans_bg.png");
	background-repeat: no-repeat;
	width: 960px;
	height: 199px;
	margin: 30px 0px;
	padding: 0px auto 0px auto;
}
.message p {
	text-align: left;
	margin: 26px 60px 26px 20px;
	font-size: 1.3rem;
	line-height: 26px;
}
.message span{
	float: right;
	font-size: 1.1rem;
}


/*↓ここからcontent2*/

#content2{
	padding-left: 0px;
}

.kokoga_box {
	height:200px;
	padding-top: 0px;
	padding-left: 0px;
	text-align: left;
}
.miraitowa_box {
	height: 260px;
	padding-top: 0px;
	text-align: left;
}
.miraitowa_box p{
  font-size: 26px;
  color: #fff;
  margin-top: -108px;
  padding-left: 240px;
}

.kokoga_box_j {
	height: 100px;
	padding-top: 0px;
	margin: 0 0 0 40px;
	text-align: left;
}

#content2 .recommend {
	text-align: left;
}

.text-area {
	height: 30px;
}
.point-info {
	color: #020e28;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 30px;
	padding-left: 4px;
	padding-top: 0px;
	text-align: left;
}
.option {
	padding: 10px 0px 0px 130px;
	color: #111;
	text-align: left;
	line-height: 40px;
}
.option strong {
  font-size: 1.6rem;
  font-weight: 1px;
  color: #cd3135;
}
.option span {
	font-size: 1.1rem;
}

/*↓ここからcontent3*/
#content3{
	align-content: center;
	padding-left: 100px;
}

.cource-list{
	padding: 0px 20px;
}
.small{
	font-size: 1.2rem;
}

.schedule-caption{
	padding-top: 20px;
	text-align: left;
	font-size: 1.6rem;
	font-color:#444;
}
.cource-caption{
	padding-top: 2px;
	text-align: left;
	font-size: 18px;
}

.schedule-img{
	margin: 0px;
	padding: 0px;
}

.ichikani {
    padding: 0.3em 0em 0.1em 1em;
    margin: 0.2em 0 0.4em;
	font-size: 1.1rem;
    /*文字色*/
    background: #FFF;
    border: solid 3px #FD3700;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.ichikani p {
    margin: 0; 
    padding: 0;
}

.kani{
    display:inline-block;
    vertical-align:middle;
}
.koutei{
    margin: 20px 0px auto;
	float: left;
	display:inline-block;
	vertical-align: middle;
}

.mini {
    padding: 0em 0.1em 0em 0.3em;
    margin: 0 0.3em 0 0;
	font-size: 1.1rem;
    /*文字色*/
    background: #FFF;
    border: solid 3px #FD3700;/*線*/
    border-radius: 10px;/*角の丸み*/
	float: right;
    display:inline-block;
    vertical-align: middle;
}
.mini p {
    margin: 0; 
    padding: 0;
}
.mini_kyougi {
    padding: 0em 0.1em 0em 0.3em;
    margin: 0 0.3em 3px 0;
	font-size: 1.2rem;
    /*文字色*/
	color:#fff;
	font-weight: bold;
    background: #03904b;
    border: solid 3px #03904b;/*線*/
    border-radius: 10px;/*角の丸み*/

    display:inline-block;
    vertical-align: middle;
}
.mini_kyougi p {
    margin: 0; 
    padding: 0;
}
.mini_kyougi_o {
    padding: 0em 0.1em 0em 0.3em;
    margin: 0 0.3em 3px 0;
	font-size: 1.2rem;
    /*文字色*/
	color:#fff;
	font-weight: bold;
    background: #fcb131;
    border: solid 3px #fcb131;/*線*/
    border-radius: 10px;/*角の丸み*/

    display:inline-block;
    vertical-align: middle;
}
.mini_kyougi_o p {
    margin: 0; 
    padding: 0;
}

	
/*↓ここからday-scheduleテクスト*/
.nitteihyou {
	padding: .25em 0 .25em .75em;
	border-left: 9px solid #444;
	font-size: 1.8rem;
}


#day-schedule-soto .nitei {

}
#day-schedule-soto2 .nitei {

}
.day-schedule {
  width: 960px;
  margin: 0px auto 0px auto;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: black;
}
.day-schedule th {
font-style: normal;
  font-size: 16px;
  padding: 10px 5px;
  border-style: solid;
  overflow: hidden;
  word-break: normal;
  border-width: 2px;
}

.day-schedule td {
  font-size: 16px;
  padding: 10px 5px;
  border-style: solid;
  overflow: hidden;
  word-break: normal;
  border-width: 2px;
}
.day-schedule .day {
  background-color: #fff;
}

.day-schedule .tg-id95 {
  text-align: left;
  vertical-align: middle;
  padding-left: 20px;
  letter-spacing: 2px;
  background-color: #fff;
}

.day-schedule .caption0 {
  background-color: #7acded;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  align-content: right;
	letter-spacing: 0.4em;
}
.day-schedule .caption {
  background-color: #7acded;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  letter-spacing: 0.6em;
}


.hotel-area{
  background-color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
}

.tg-id95 span{
	background-color: #ffe699;
	padding: 0px 2px;
}
.tg-id95 .hotel-area{
	text-align: center;
}
.note_ver4 {
	width: 960px;
	text-align: left;
padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-left: 100px;
}
#note01{
	width: 1030px;
	text-align: left;
padding: 0px 0px 15px 0px;
  margin-top: 0px;
  margin-left: 100px;
}
#note01 .schedule{
  font-size: 1.1rem;
  letter-spacing: 1px;
}
#note02{
	width: 1030px;
	text-align: left;
padding: 5px 0px 0px 3px;
  margin-top: 0px;
  margin-left: 100px;
}
#note02 .schedule{
	width: 990px;
	margin: 0px auto;
	font-size: 1.1rem;
	letter-spacing: 1px;
}
#note03{
	width: 1030px;
	text-align: left;
padding: 5px 0px 0px 3px;
  margin-top: 0px;
  margin-left: 100px;
}
#note03 .schedule{
	width: 990px;
	margin: 0px auto;
	font-size: 1.1rem;
	letter-spacing: 1px;
}

/*注文前注釈*/
#chuusen{
	width: 900px;
	text-align: left;
padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-left: 120px;
}
#chuusen .poi{
  font-size: 16px;
}
#chuusen span{
  font-size: 16px;
  color: #ee334e;
}
.medalsessyon {
	text-align: right;
	margin: 0 auto 5px;
}
/*↓共通フッター*/

.tbl-foot {
  padding-top: 10px;
  padding-left: 20px;
}
.btnsize {
	width: 200px;
}
.tbl-foot h4 {
  font-weight: 700;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 1.4rem;
}
.tbl-foot_swa {
	width: 910px;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 30px;
	text-align: right;
	margin: 0 auto 5px;
}
.tbl-foot_swa span {
  font-weight: 700;
  padding-top: 0px;
  font-size: 1.4rem;
}
.admin-num-list h5 {
  text-align: left;
  font-size: 12px;
  margin-bottom: 0px;
}
.admin-num-list {
  text-align: left;
  font-size: 11px;
}
.tbl-foot_vol4 {
  padding-top: 0px;
  padding-left: 20px;
}
.tbl-foot_vol4 h4 {
  font-weight: 700;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 1.4rem;
}
.tbl-foot_vol4 .sekishu {
  font-weight: 700;
  padding-top: 0px;
  padding-bottom:20px;
  padding-right: 10px;
  font-size: 1.5rem;
  color: #00064E;
}

.submit {
  text-align: right;
}

.note03 {
	width: 1030px;
	text-align: left;
	padding: 0px 0px 15px 0px;
	margin-top: 0px;
	margin-left: 100px;
	font-size: 1.1rem;
	letter-spacing: 1px;
}
/*リボンテスト*/
.kokoga-wrapper {  
	display: block;
	position: relative;
	margin: 15px auto;
	padding: 10px 0 0 0;
	width: 220px;
	background-color: #FFFFFF;
  }
.kokoga-wrapper_four {  
	display: block;
	position: relative;
	margin: 20px auto 0 0;
	padding: 0px 0 0 0;
	width: 280px;
	background-color: #FFFFFF;
  }
.kokoga-wrapper_four2 {  
	display: block;
	position: relative;
	margin: 20px auto 0 0;
	padding: 10px 0 0 20;
	width: 220px;
	background-color: #FFFFFF;
  }
.kokoga {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	padding: 5px 0;
	margin: 0 0 0 -20px;
	width: calc(100% + 20px);
	color: white;
	background: #FD3700;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}

.kokoga h3{
  margin: 0;
  padding: 0 30px 0 15px;
  border-top: dashed 1px #FFF;
  border-bottom: dashed 1px #FFF;
  font-size: 1.6rem;
  line-height: 52px;
}

.kokoga:after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.kokoga:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #E32704;
}
/*ボックステスト*/
.freetime{
	font-size: 1.2rem;
    font-weight: bold;
    margin:2em auto;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 4px #ffcb8a;
    border-bottom: solid 4px #ffcb8a;
	width: 780px;
	height: 40px;
	background-color: #DFFD8F;
  text-align: left;
}
.freetime:before, .freetime:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 4px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #ffcb8a;
}
.freetime:before {left: 10px;}
.freetime:after {right: 10px;}
.freetime p {
    margin: 0; 
    padding: 0;
}

.box5 {
	width: 660px;
	height: 150px;
	font-size: 1.3rem;
    font-weight: bold;
	line-height: 180%;
    margin:1em auto;
    padding: 0.5em 1em 0 1em;
    border: double 5px #7acded;
	text-align: left;
}
.box5 p {
	float: left;
	padding: 20px 20px 8px 20px;
}
.box img{
    padding: 0 auto 5 auto;
	float: right;
}
.box5 span{
	float: right;
	font-size: 1.1rem;
}



.head_test {
    margin:  0;                 /* デフォルトCSS打ち消し */
    font-size:  24px;           /* 文字サイズ指定 */
    position:  relative;        /* 位置調整 */
    font-weight:  normal;       /* 文字の太さ調整 */
    display:  inline-block;     /* インラインブロックにする */
    padding-top: 40px;          /* 余白指定 */
    padding-left: 40px;         /* 余白指定 */
    padding-bottom: 20px;       /* 余白指定 */
}
p {
    margin:  0;                 /* デフォルトCSS打ち消し */
    line-height: 2;             /* 行間調整 */
    padding-left: 40px;         /* 余白指定 */
}
.head_test:before {
    content:  '';               /* 空白の要素を作る */
    background-color: #ffeaac;  /* 背景色指定 */
    display:  block;            /* ブロック要素にする */
    position:  absolute;        /* 位置調整 */
    left:  0;                   /* 位置調整 */
    height: 90px;               /* 高さ指定 */
    width: 90px;                /* 幅指定 */
    border-radius:  50%;        /* 丸くする */
    top: 0;                     /* 位置調整 */
    z-index:  -1;               /* 重なり調整 */
}
