@charset "utf-8";

#kikan_vol5{
	width: 1100px;
	letter-spacing: 1px;
	text-align: center;
	color: #fff;
	font-size: 1.3rem;
	padding-top: 20px;
	padding-bottom: 30px;
	margin: auto;
}
.option_5 {
	padding: 30px 0px 0px 10px;
	color: #111;
	text-align: left;
	line-height: 30px;
}
.option_5 strong {
  font-size: 1.4rem;
  font-weight: 1px;
  color: #cd3135;
}
.option_5 span {
	font-size: 1.1rem;
}

.option_55{
		text-align: left;
}
.option_55 strong {
  font-size: 1.4rem;
  font-weight: 1px;
  color: #cd3135;
}
.option_55 span {
	font-size: 1.1rem;
	line-height: 30px;
}

.tg-0lax_5 {
	font-size: 1.5rem;
	padding-top: 6px;
	padding-bottom: 6px;
	}
.tg-0lax_5 span{
	font-weight: bold;
	color: #002063;
	}

.tg-0lax_5 .small{
	color: #FFFFFF;
	font-size: 1.1rem;
}
.tg-0lax_5 .smallao{
	font-size: 1.3rem;
	line-height: 24px;
	margin: 0 auto;
}
.tg-0lax_5 .pricenoten{
	padding-top: 10px auto;
	font-size: 1.5rem;
	line-height: 2em;
	text-align: center;
	color: #002063;
}
.tg-0lax_5 .pricenoten3{
	padding-top: 10px auto;
	font-size: 1.5rem;
	line-height: 1.5em;
	text-align: center;
	color: #002063;
}
.tg-0lax_5 .pricenoten32{
	margin: 5px auto 0;
	padding-top: 10px auto;
	font-size: 1.4rem;
	line-height: 1.3em;
	text-align: center;
	color: #002063;
}
.tg-0lax_5 .pricenote_s {
	padding-top: 10px auto;
	font-size: 1.5rem;
	line-height: 2em;
	text-align: center;
	color: #002063;
}
.pricenote_small {
	margin: 5px auto 0;
	padding-top: 10px auto;
	font-size: 1.0rem;
	line-height: 1.2em;
	text-align: center;
	color: #002063;
}
.tg-0lax_5 .pricenote_small2 {
	margin: 5px auto 0;
	padding-top: 10px auto;
	font-size: 1.0rem;
	line-height: 1.2rem;
	text-align: center;
	color: #002063;
}

.point-info_5 {
	color: #020e28;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 30px;
	padding-left: 4px;
	padding-top: 0px;
	text-align: left;
}
.point-info_52 {
	margin: 0 auto 0 0;
	color: #020e28;
	font-size: 1.6rem;
	font-weight: 700;
	padding-left: 4px;
	padding-top:12px;
	text-align: left;
	vertical-align: text-top;
}
.point-info_53 {
	margin: 0 auto 0 0;
	color: #020e28;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 30px;
	padding-left: 4px;
	padding-top:12px;
	text-align: left;
	vertical-align: text-top;
}
.point-info_54 {
	margin: 0 auto 0 0;
	color: #020e28;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 30px;
	padding-left: 4px;
	padding-top:10px;
	text-align: left;
	vertical-align: text-top;
}
.setsumeikai_5 {
    padding: 0em 0.1em 0em 0.3em;
    margin: 0 1em 0 0;
	font-size: 1.1rem;
    /*文字色*/
    background: #FFF;
    border: solid 3px #FD3700;/*線*/
    border-radius: 10px;/*角の丸み*/
	float: right;
    display:inline-block;
}
.setsumeikai_5 p {
    margin: 0; 
    padding: 0;
}
.setsumeikai_5 span {
	color:#FB0700;
	font-size: 1.1rem;
	vertical-align: top;
    background: #fff;
}

.setsumeikai_6 {
    padding: 0em 0.1em 0em 0.3em;
    margin: 0 1em 0 0;
	font-size: 1.1rem;
    /*文字色*/
    background: #fbe8bc;
    border: 0px ;/*線*/
    border-radius: 10px;/*角の丸み*/
	float: right;
    display:inline-block;
}
.setsumeikai_6 p {
    margin: 0; 
    padding: 0;
}
.setsumeikai_6 span {
	font-size: 1.1rem;
	vertical-align: top;
    background: #fbe8bc;
}

.koutei_5{
    margin: 6px 0px auto;
	float: left;
	display:inline-block;
	vertical-align: middle;
}
.kouteihigh_5{
    margin: 50px 0px auto;
	float: left;
	display:inline-block;
	vertical-align: middle;
}
.kouteirow_5{
    margin: 8px 0px 5px;
	float: left;
	display:inline-block;
	vertical-align: middle;
}
.kouteirow_52{
    margin: 60px 0px 5px;
	float: left;
	display:inline-block;
	vertical-align: middle;
}
.kouteihighr_5{
    margin: 50px 0px auto;
	float: right;
	display:inline-block;
	vertical-align: middle;
}
.kouteihighr_52{
    margin: 60px 0px auto;
	float: right;
	display:inline-block;

}
.kouteihighr_53{
    margin: 50px 0px auto;
	float: right;
	display:inline-block;
	vertical-align: middle;
}

.chuui_5{
	color: #FB0700;
	font-weight: bold;
}
.tourplan-5th{
	width: 960px;
	margin: 5px auto 5px auto;
	font-weight: bold;
	line-height: 2.2rem;
}
.tourplan-5th_5{
	width: 1100px;
	margin: 5px auto 5px auto;
	font-weight: bold;
	line-height: 2.2rem;
}

.kyougikaijougreen_5 {
    padding: 0.6em 0.6em 0.2em 0.6em;
    margin: 0 0 0 0;
	font-size: 1.1rem;
    /*文字色*/
    background: #FFF;
    border: solid 3px #03904b;/*線*/
    border-radius: 20px;/*角の丸み*/
	float: center;
    display:inline-block;
	text-align: center;
}
.kyougikaijougreen_5 p {
    margin: 0; 
    padding: 0;
}
.kyougikaijouorange_52 {
    padding: 0.4em 0.6em 0.3em 0.6em;
    margin: 0 0 10px 0;
	font-size: 1.15rem;
	line-height: 2rem;
    /*文字色*/
	background-color:#fbe8bc;
    border-radius: 8px;/*角の丸み*/
	float: center;
    display:inline-block;
	text-align: center;
}
.kyougikaijouorange_53 {
    padding: 0.4em 0.6em 0.3em 0.6em;
    margin: 0 0 10px 0;
	font-size: 1.15rem;
	line-height: 2rem;
    /*文字色*/
	background-color:#ffe6ea;
    border-radius: 8px;/*角の丸み*/
	float: center;
    display:inline-block;
	text-align: center;
}
.kyougikaijouorange_53 a {
	text-decoration: none;
}
.mimiyori_53 {
	font-size: 1.1rem;
	color: #ff570d;
	font-weight: 700;
}
.mimiyori_53 span {
	color: #3d72ca;
}

.kyougikaijouorange_5 span{
	background-color: #f0ffc2;
	padding: 0px 2px;
}

.kyougikaijouorange_5 {
    padding: 0.6em 0.6em 0.2em 0.6em;
    margin: 0 0 0 0;
	font-size: 1.1rem;
    /*文字色*/
    background: #FFF;
    border: solid 3px #fcb131;/*線*/
    border-radius: 20px;/*角の丸み*/
	float: center;
    display:inline-block;
	text-align: center;
}
.kyougikaijouorange_5 p {
    margin: 0; 
    padding: 0;
}

.kyougikaijouorange_6 {
    padding: 0.4em 0.6em 0.3em 0.6em;
    margin: 0 0 0 0px;
	font-size: 1.1rem;
    /*文字色*/
    background: #FFF;
    border: solid 3px #fcb131;/*線*/
    border-radius: 20px;/*角の丸み*/
	float: center;
    display:inline-block;
	text-align: center;
}

.tbl-foot_vol5 {
	height: 45px;
	padding-top: 0px;
 	padding-left: 100px;
 	padding-bottom: 0px;
}
.tbl-foot_vol5 h4 {
  font-weight: 700;
  padding-top: 0px;
  padding-left: 0px;
  font-size: 1.4rem;
}
.medaltext_55 h4 {
 	margin: 50px 0 0 30px;
	font-size: 1.4rem;
	line-height: 2.2rem;
}
.coursecode {
 	margin: 50px 0 0 8px;
	font-size: 1.4rem;
	line-height: 2.2rem;
	font-weight: 700;
}
.coursecode_hbl {
 	margin: 50px 0 0 10px;
	font-size: 1.4rem;
	line-height: 2.2rem;
	font-weight: 700;
}

.chuusyaku{
	margin: 4px auto 5px;
	font-size: 1.0rem;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.tbl-foot_vol5 .sekishu {
  font-weight: 700;
  padding-top: 0px;
  padding-right: 10px;
  font-size: 1.6rem;
  color: #00064E;
}
.tbl-foot_vol5 .sekishu_s {
  font-weight: 700;
  padding-top: 0px;
  padding-right: 10px;
  font-size: 1.2rem;
  color: #00064E;
}
.tbl-foot_vol5 .osakanagoya {
  font-weight: 700;
  padding-top: 0px;
  padding-right: 10px;
  font-size: 1.6rem;
  color:#ff8601;;
}
.tbl-foot_vol5 .seki {
  font-weight: 700;
  padding-top: 0px;
  padding-right: 10px;
  font-size: 1.5rem;
  color: #00064E;
}
.note_ver5 {
	text-align: left;
	padding: 0px 0px 0px 0px;
 	margin-top: 0px;
	margin-left: 100px;
}

.pink_red{
	color:#FB0700;
	font-size: 1.1rem;
	vertical-align: top;
}

.pink{
	color:#f532d3;
	font-size: 1.1rem;
	vertical-align: top;
}

.pink_l{
	color:#F33308;
	vertical-align: top;
}
.pointsub {
	font-size: 1.0rem;
}

.day-schedule .tg-id95_5 {
  text-align: left;
  vertical-align: middle;
  padding-left: 20px;
  letter-spacing: 2px;
  background-color: #fff;
}
.kyougikaijougreen_5 span{
	background-color: #f0ffc2;
	padding: 0px 2px;
}
.tg-id95_5 .hotel-area{
	text-align: center;
}
.point1_5{
    display:inline-block;
    vertical-align:top;
}
.kani_5{
    display:inline-block;
    vertical-align:middle;
	float: right;
}
.kanikochira_5{
    display:inline-block;
    vertical-align: bottom;
	float: left;
}
.kanikochira_52{
    display:inline-block;
    vertical-align: middle;
	float: left;
	margin: 30 0;
}
.kanikochira_55{
    display:inline-block;
    vertical-align: middle;
	text-align: right;
}
.kani_aflo{
	display:inline-block;
    vertical-align: text-bottom;
	float: center;
}


.kyougitext{
    vertical-align: top;
	font-size: 1.1rem;
	line-height: 29px;
}
.medal_5{
 	padding: 0px 0px 30px 20px;
    display:inline-block;
    vertical-align: top;
	float: left;
}
.medal_55{
 	padding: 0px 0px 68px 20px;
    display:inline-block;
    vertical-align: top;
	float: left;
}
.medaltext{
	font-size: 1.1rem;
	line-height: 29px;
}
.medaltext_55{
	font-size: 1.1rem;
	line-height: 2em;
}

/*↓ここからcontent1*/
#content1_5 {
	align-content: center;
}
#content1_5 table {
  color: #020e28;
  margin: 0px auto 10px auto;
}
.photo-s-yoko_l{
	text-align: right;
    position: relative;
	width: 400px;
    padding: 0.2em 0.4em 0.2em 1em;
    margin: 0 0.3em 40px 1em;
}
.photo-s-yoko_r{
	text-align: left;
    position: relative;
	width: 400px;
    padding: 0.2em 0.5em 0.2em 0.1em;
    margin: 50px 0.3em 3px 0.1em;
}

.photo-s-yoko_lhoc{
	text-align: right;
    position: relative;
	width: 400px;
    padding: 0.2em 0.4em 0.2em 1em;
    margin: 0 0.3em 2em 1em;
}
.photo-s-yoko_rhoc{
	text-align: left;
    position: relative;
	width: 400px;
    padding: 0.2em 0.5em 0.2em 0.1em;
    margin: 9em 0.3em 10em 1em;
}
.photo-s-yoko_sougan{
	text-align: left;
    position: relative;
	width: 300px;
}

.mini_osaka_o {
    padding: 0.2em 0.4em 0.2em 0.4em;
    margin: 0 0.3em 3px 1em;
	font-size: 1.4rem;
    /*文字色*/
	color:#ff8601;
	font-weight: bold;
    background: #f4ffb3;
    border: double 4px #fcb131;/*線*/
    border-radius: 10px;/*角の丸み*/
    display:inline-block;
    vertical-align: middle;
}
.mini_kyougi_o p {
    margin: 0; 
    padding: 0;
   font-color : #1ee2ff;
}


/**注目ポイント矢印**/
.chuumoku_5l{
    background-image: url(img/medama_l.png);
	background-repeat: no-repeat;
	width: 408px;
	height:100px;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 0.8em 0em 0.4em 1em;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
	text-align: right;
}
.chuumoku_5l p{
	margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}

.chuumoku_5l2{
    background-image: url(img/medama_l.png);
	background-repeat: no-repeat;
	width: 408px;
	height:100px;
    padding: 0.5em 2em 0.5em 0.6em;
    margin: 0.8em 0.1em 0.5em 1em;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;

}
.chuumoku_5l2 p{
	margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}

.chuumoku_5r{
    background-image: url(img/medama_r.png);
	background-repeat: no-repeat;
	width: 370px;
	height:100px;
    padding: 0.5em 0em 0.5em 3em;
    margin: 0.8em auto 0.4em 0em;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
}
.chuumoku_5r p{
	margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}

.chuumoku_5r3{
    background-image: url(img/medama_r_h.png);
	background-repeat: no-repeat;
	width: 370px;
	height:110px;
    padding: 0.4em 0em 0.5em 3em;
    margin: 0.8em auto 0.4em 0em;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
}
.chuumoku_5r3 p{
	margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}
.chuumoku_5r2{
    background-image: url(img/medama_r.png);
	background-repeat: no-repeat;
	width: 400px;
	height:100px;
    padding: 0.6em 0em 0.7em 2.6em;
    margin: 0.6em auto 0.4em 0em;
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
}
.chuumoku_5r2__{
    background-image: url(img/medama_r.png);
	background-repeat: no-repeat;
	width: 370px;
	height:100px;
    padding: 0.5em 0em 0.5em 3em;
    margin: 0.8em auto 0.4em 0em;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
}
.chuumoku_5r2 p{
	margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.4rem;
}

.chuumoku_5r3{
    background-image: url(img/medama_r.png);
	background-repeat: no-repeat;
	width: 400px;
	height:100px;
    padding: 0.3em 0em 0.7em 2.6em;
    margin: 0em auto 3.5em 0em;
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
	vertical-align: top;
}
.chuumoku_5r3 p{
	margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.0rem;
}


.box_short_5 {
	width: 400px;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 0.8em auto 0.4em auto;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
    background: #002063;
    border-bottom: solid 4px #7acded;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box_short_5 p {
    margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}
.box_short_52 {
	width: 420px;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 0.8em auto 0.4em auto;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
    background: #002063;
    border-bottom: solid 4px #7acded;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box_short_52 p {
    margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}

.box_short_52ath {
	width: 480px;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 0.8em auto 0.4em auto;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
    background: #002063;
    border-bottom: solid 4px #7acded;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box_short_52ath p {
    margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}

/**注目ポイントここまで**/


.flame_midokoro{
margin: 2em auto;
padding: 1em;
width: 100%;
color: #606060;
border: 2px solid #a3703e;
background-color: #fff;
box-shadow: -2px 5px 5px #ceb4a5;
border-radius: 15px;
}
.naname {
    background: -webkit-repeating-linear-gradient(-45deg, #f5edfd, #f5edfd 5px, #fdfcff 5px, #fdfcff 10px);
    background: repeating-linear-gradient(-45deg, #f5edfd, #f5edfd 5px, #fdfcff 5px, #fdfcff 10px);
    color: #4a1086;
    margin: 2em 0;
    padding: 2em;
}

.flame_5{
margin: 2em auto;
padding: 1em;
width: 400px;
color: #606060;
border: 10px double #0070c0;
box-shadow: -2px 5px 5px #ceb4a5;
border-radius: 15px;
background: -webkit-repeating-linear-gradient(-45deg, #fcde84, #ffcde84 5px, #fcf1be 5px, #fcf1be 10px);
background: repeating-linear-gradient(-45deg, #fff, #fdeba5 5px, #fff 5px, #fdeba5 10px);
font-color: #4a1086;
}
.flame_5　span　{
	
}

.tokucyou_5{
	width: 440px;
	text-align: left;
	margin: 2em 25px;
	padding: 1em;
	background: -webkit-repeating-linear-gradient(-45deg, #fcde84, #ffcde84 5px, #fcf1be 5px, #fcf1be 10px);
	background: repeating-linear-gradient(-45deg, #fff, #fdeba5 5px, #fff 5px, #fdeba5 10px);
	border: solid 3px #0070c0;
	box-shadow: 0 0 0 3px #fff59d, 0 0 0 7px #0070c0;
	border-radius: 10px;
}
.tokucyou_5 h3{
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 1.4rem;
	color: #0070c0;
	line-height: 2rem;
}
.tokucyou_5 p{
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
}
.mimiyoribox_{
	width: 840px;
	height : 250px;
	padding: 1em 3em 2em 3em;
	margin: 1.1em auto 1.1em auto;
	background-color: #3d72ca;
	border: solid 2px #034777;
	border: solid 2px #28D0FB;

}
.mimiyoribox_5{
	width: 840px;
	height : 250px;
	padding: 1em 3em 3em 3em;
	margin: 1.1em auto 1.1em auto;
	background-color: #ffe6ea;
	border-radius: 10px;
	border: solid 1px #28D0FB;
}
.mimiyoribox_5 h3{
	margin: 0;
	padding: 0;
	width: 420px;
	text-align: left;
	font-size: 1.4rem;
	color: #ff570d;
	line-height: 2rem;
}
.mimiyoribox_5 .ct{
	margin: 5 auto 0 40px;
	padding: 0 0 0 20px;
	width: 400px;
	text-align: left;
	color: #222;
	float: left;
	line-height: 2.3rem;
}
.mimiyoriboxharf_5{
	width: 480px;
	height : 250px;
	padding: 1em 2.5em 2.5em 2.5em;
	margin: 1.1em auto 1.1em auto;
	background-color: #ffe6ea;
	border: solid 1px #28D0FB;
	border-radius: 10px;
}
.mimiyoriboxharf_ h3{
	margin: 0 auto ;
	padding: 0 auto;
	width: 420px;
	text-align: center;
	font-size: 1.6rem;
	color: #ff570d;
	line-height: 2.5rem;
}
.mimiyoriboxharf_5 h3{
	margin: 0 auto 0 10px;
	padding: 0 auto;
	width: 460px;
	text-align: center;
	font-size: 1.5rem;
	color: #ff570d;
	line-height: 2.5rem;
}

.kanimimiyori_5{
    display:inline-block;
    vertical-align:middle;
	float: right;
	border: 1px #727272 solid;
}

.mimiyoriboxharf_5 .ct{
	margin: 5 auto 5 30px;
	padding: 0 0 0 30;
	width: 460px;
	text-align: center;
	color: #222;
	float: left;
	line-height: 2.3rem;
	font-size: 1.1rem;
}


/**CSS→**/
.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.sample3-4::before{
    width: 70px;
    height: 60px;
    background: #7a0;
}
.sample3-4::after{
    left: 70px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 30px solid transparent;
    border-left: 30px solid #7a0;
}
/**リボン**/
.ribbon13-wrapper {  
  display: block;
  position: relative;
  margin: 0px auto;
  padding: 0px 0;
  width: 300px;
  background: #eee;
  }

.ribbon13 {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 5px 0;
  margin: 0 0 0 -20px;
  width: calc(100% + 20px);
  color: white;
  background: #70a6ff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.ribbon13 h3{
  margin: 0;
  padding: 0 30px 0 15px;
  border-top: dashed 1px #FFF;
  border-bottom: dashed 1px #FFF;
  font-size: 20px;
  line-height: 46px;
}

.ribbon13:after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.ribbon13:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #6081b7;
}

/**三角**/
.triangle01{ 
     width: 0;
     height: 0;
     border-top: solid 20px transparent;
     border-right: solid 0px transparent;
     border-bottom: solid 20px transparent;
     border-left: solid 40px #697b91;
}
/**かこみと三角**/

.box_short_55 {
    position: relative;
    display: inline-block;
	width: 400px;
    padding: 0.5em 0em 0.5em 1em;
    margin: 0.8em auto 0.4em auto;
	font-size: 1.7rem;
	font-weight: bold;
	letter-spacing: 1px;
    color: #FFF;
    vertical-align: middle;
    background: #002063;
}

.box_short_55::before,
.box_short_55::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.sam::after{
    left: 422px;
    box-sizing: border-box;
    width: 0px;
    height: 88px;
    border: 48px solid transparent;
    border-left: 60px solid #002063;
}

.box_short_55 p {
    margin: 0; 
    padding: 0;
	text-align: left;
	line-height: 2.5rem;
}
.pink_l{
	color:#F33308;
}
