@charset "utf-8";
/* CSS Document */

.f_g{
	color:#fee
}
.mb50 {
  margin-bottom: 50px;
}

.attention {
  margin: 2em auto 1em;
  max-width: 1190px;
  width: 100%;
}
.attention h3 {
  font-size: 2.4rem;
  color: #ee334e;
  line-height: 4rem;
  margin: 10px auto ;
  text-align: center;
}
.attention dl {
  margin: 1em;
  font-size: 18px;
}
.attention dl dt {
  font-weight: bold;
}
.attention dl dt span {
  font-weight: normal;
  color: #000;
}
.attention dl dd {
  font-weight: normal;
  margin-left: 2.5em;
  margin-bottom: 0.5em;
}
.attention div.attentionFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1190px;
}
.attention div.attentionFlex dl {
  width: 70%;
  margin: 0;
}
.attention div.attentionFlex figure {
  width: 30%;
  margin: 0;
  text-align: right;
}
.spOnly {
  display: none;
}
#tokyo_list .title p {
  line-height: 1.5em;
}
@media screen and (max-width:800px) {
  .attention dl {
    margin: 0;
  }  
  .attention dl dd {
    margin-left: 1em;
  }
  .spOnly {
    display: block;
  }
  .attention div.attentionFlex {
    flex-direction: column;
  }
  .attention div.attentionFlex dl {
    width: 100%;
  }
  .attention div.attentionFlex figure {
    width: 100%;
    text-align: center;
  }
  .attention div.attentionFlex figure img {
    margin: 1em auto;
  }
  #tokyo_list .title p {
      line-height: 1.3em;
      padding: 0.7em;
      font-size: 1.55rem;
  }
}

.tour_txt .attention2 {
  font-size: 2.4rem;
  color: #333;
  line-height: 3rem;
padding: 10px auto 10px ;
margin: 20px auto ;
}

.importantPoints h4 {
  margin-bottom: 0.2em;
  margin-top: 0;
  line-height: 1.2;
  font-size: 16px;
  font-weight: normal;
}
.importantPoints div {
  border: 1px solid #ee334e;
  padding: 0 1.5em;
  font-size: 12px;
  font-weight: normal;
}
.importantPoints div ul > li {
  margin-top: 1em;
  text-indent: -1em;
  margin-left: 1em;
}
.importantPoints div ul > li::before {
  content: "〇";
}
.importantPoints div ul li ol {
  padding-left: 0;
}
.importantPoints div ul li ol li {
	counter-increment: cnt;
  margin-left: 1em;
  text-indent: -1.6em;
}
.importantPoints div ul li ol li::before {
	content: " (" counter(cnt) ") ";
}

.tour_txt .postponement{
	width: 90%;
	border: solid 2px #ee334e;
padding: 10px 10px ;
	margin: 20px auto 5px;
}
.tour_txt .pink{
	color: #ee334e;
}

.tour_txt .small {
  font-size: 1.8rem;
  color: #ee334e;
  line-height:18px;
  margin: 0 auto 0px auto; 
}

#tourlist {
  padding-top: 20px;
  max-width: 1190px;
  width: 100%;
  margin: 0 auto; 
}
#tourlist .tit {
  font-size: 20px; 
}

#tourlist a {
  text-decoration: none;
}
#tourlist .sat{
	color: #0081c8;
}
#tourlist .sun{
	color: #cd3135;
}
#tourlist .ao{
font-size: 1.2rem;
	color:#0081c8;
}
#tourlist .aka{
font-size: 1.2rem;
  color:#cd3135;
}

.baai{
margin: 0.5rem auto 0.5rem auto;
font-size: 1.2rem;
}
.midashi{
line-height:3.2rem;
margin: 15px 0 20px;
}





.tg-0lax span {
  line-height: 2.2rem;
  font-size: 1.4rem;
}

.tourplan-3nd {
  background-color: #FBD0E6;
}
.tourplan-2nd {
  background-color: #fffcfc;
}
.tourplan-1st {
  background-color: #fffcfc;
}.tourplan-0 {
  background-color: #fffcfc;
}
.close {
  font-size: 0.8rem;
  background-color: #eeebe7;
  color: #aaaaaa;
  margin: 0px 4px;
  border-bottom: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.19);
}
.apply {
  font-size: 1.6rem;
  line-height:28px;
  background-color: #0081c8;
  color: white;
  margin: -10px 2px;
  font-weight: 300;
  border-top: 2px;
  border-bottom: 2px solid #005b8d;
  border-radius: 10px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  font-family: "TOKYO2020 JPN R", "メイリオ", "Meiryo UI";
  font-size: 14px;
  padding: 4px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #7acded;
}
.tg th {
  font-family: "TOKYO2020 JPN R", "メイリオ", "Meiryo UI";
  font-size: 15px;
  font-weight: normal;
  padding: 4px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #7acded;
}
.tg .tg-0lax {
  text-align: center;
  vertical-align: middle;
}
.tg-0lax-cap {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
}
.tg-0lax-num p {
  text-align: center;
  vertical-align: middle;
  color: white;
  line-height: 20px;
  font-size: 18px;
}

.tg-0lax-cap, .tg-0lax-num {
  background-color: #002063;
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  background-size: 15px 15px;
  background-position: 0 0, 7.5px 7.5px;
  background-image: -webkit-linear-gradient(45deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%), -webkit-linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
  background-image: -moz-linear-gradient(45deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%), -moz-linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
  background-image: -ms-linear-gradient(45deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%), -ms-linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
  background-image: -o-linear-gradient(45deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%), -o-linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
  background-image: linear-gradient(45deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%), linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
}

.tg-0lax-num2 p {
  text-align: center;
  vertical-align: middle;
  color: white;
  line-height: 20px;
  font-size: 18px;
}
.tg-0lax-num2 {
  background-color: #001144;
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  background-size: 15px 15px;
  background-position: 0 0, 7.5px 7.5px;
  background-image: -webkit-linear-gradient(45deg, #003ec6 25%, #003ec6 25%, transparent 25%, transparent 75%, #003ec6 75%, #003ec6 75%), -webkit-linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
  background-image: -moz-linear-gradient(45deg, #003ec6 25%, #003ec6 25%, transparent 25%, transparent 75%, #003ec6 75%, #003ec6 75%), -moz-linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
  background-image: -ms-linear-gradient(45deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%), -ms-linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
  background-image: -o-linear-gradient(45deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%), -o-linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
  background-image: linear-gradient(45deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%), linear-gradient(-135deg, #193672 25%, #193672 25%, transparent 25%, transparent 75%, #193672 75%, #193672 75%);
}

.tg-0lax-name {
  text-align: left;
}

a:hover {
  text-decoration: none;
}


/*終了コメント*/
.absolute_end {

    left: 110px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffff99;
}
.absolute_end2 {
    left: 110px;
    font-size: 22px;
    font-weight: bold;
    background-color: #ffff99;
}
.absolute_end span {
	color: #ff0000;
}
.attention span {
	color: #ff0000;
}
.attention .pink {
	color: #F33308;
}
/*終了コメントここまで*/